@model Web.Application.Domain.Entities.Users
<style>
    .header 
    {
        display: none;
    }
</style>
<div class="login">
    <div class="login-triangle"></div>
    <h2 class="login-header">Log in</h2>
    <div class="login-container">
        <p><input type="email" placeholder="Email" id="usernameLoginReq"></p>
        <p><input type="password" placeholder="Password" id="passwordLoginReq"></p>
        <p><input type="submit" onclick="loginRequest()" value="Log in"></p>
    </div>
</div>
<div class="container-fluid" id="tableStrip">
</div>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function loginRequest() {
        $.post({
            url: '@Url.Action("Login", "Administrator")',
            data: {
                Email :$('#usernameLoginReq').val(),
                Password :$('#passwordLoginReq').val()
            },
            success: function (msg) {
                Swal.fire({
                    title: 'Login!',
                    text: "You area connect",
                    icon: 'success',
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: 'Ok!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        alert(msg.userid);
                    }
                })
            }
        });
    }

    $.get('@Url.Action("FindPosts", "Administrator")', function (content) {
        $("#posttables").html(content);
    });

    $.get('@Url.Action("FindPosts", "Administrator")', function (content) {
        $("#posttables").html(content);
    });
     
    $.get('@Url.Action("FindUsers", "Administrator")', function (content) {
        $("#usertable").html(content);
    });

    $.get('@Url.Action("UserRegister", "Administrator")', function (content) {
        $("#2a").html(content);
    }); 
    
    $.get('@Url.Action("PostRegister", "Administrator")', function (content) {
        $("#6a").html(content);
    });
    
    
</script>



