@model Web.Application.Domain.Entities.Users
<style>
    .header 
    {
        display: none;
    }
</style>
<div class="login">
    <div class="login-triangle"></div>

    <h2 class="login-header">Log in</h2>

    <form class="login-container">
        <p><input type="email" placeholder="Email" id="usernameLoginReq"></p>
        <p><input type="password" placeholder="Password" id="passwordLoginReq"></p>
        <p><input type="submit" onclick="loginRequest()" value="Log in"></p>
    </form>
</div>
<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="nav-item ma">
            <a href="#1a" class="nav-link active mad" aria-current="page" data-toggle="tab">Users</a>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Update User</h5>
                        </div>
                        <div class="modal-body" id="contentUserUpdate">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="updateUser()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item ma">
            <a href="#2a" class="nav-link mad" data-toggle="tab">Users Register</a>
        </li>
        <li class="nav-item ma">
            <a href="#3a" class="nav-link mad" data-toggle="tab">Send a Newslatter</a>
        </li>
        <li class="nav-item ma">
            <a href="#4a" class="nav-link mad" data-toggle="tab">BI Users</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="1a">
                <table class="table table-dark" id="usertable">
               </table>
        </div>

        <div class="tab-pane container-fluid" id="2a">
        </div>

        <div class="tab-pane" id="3a">
            <h3>We applied clearfix to the tab-content to rid of the gap between the tab and the content</h3>
        </div>
        <div class="tab-pane" id="4a">
            <h3>We use css to change the background color of the content to be equal to the tab</h3>
        </div>
    </div>    


    <ul class="nav nav-tabs">
        <li class="nav-item ma">
            <a href="#5a" class="nav-link active mad" aria-current="page" data-toggle="tab">Posts</a>
        </li>
        <li class="nav-item ma">
            <a href="#6a" class="nav-link mad" data-toggle="tab">Posts Register</a>
        </li>
        <li class="nav-item ma">
            <a href="#7a" class="nav-link mad" data-toggle="tab">Send a Newslatter</a>
        </li>
        <li class="nav-item ma">
            <a href="#8a" class="nav-link mad" data-toggle="tab">BI Posts</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="5a">
            <table class="table table-dark" id="posttables">
            </table>
        </div>
        <div class="tab-pane container-fluid" id="6a">
        </div>
        <div class="tab-pane" id="7a">
            <h3>Send a News Latter</h3>
        </div>
        <div class="tab-pane" id="8a">
            <h3>BI Posts</h3>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function loginRequest() {
        $.post({
            url: '@Url.Action("Login", "Administrator")',
            data: {
                Email :$('#usernameLoginReq').val(),
                Password :$('#passwordLoginReq').val()
            },
            success: function (msg) {
                Swal.fire({
                    title: 'Login!',
                    text: "You area connect",
                    icon: 'success',
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: 'Ok!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.reload();
                    }
                })
            }
        });
    }
    $.get('@Url.Action("FindPosts", "Administrator")', function (content) {
        $("#posttables").html(content);
    });
     
    $.get('@Url.Action("FindUsers", "Administrator")', function (content) {
        $("#usertable").html(content);
    });

    $.get('@Url.Action("UserRegister", "Administrator")', function (content) {
        $("#2a").html(content);
    }); 
    
    $.get('@Url.Action("PostRegister", "Administrator")', function (content) {
        $("#6a").html(content);
    });
    
    
</script>



